# Python bytecode (compiled files)
__pycache__/
*.py[cod]

# Virtual environments (if you use them)
venv/
env/
.env

# The Dataset (Keep your repo clean!)
att_faces/

# C++ Build and Uploads
build/
uploads/
*.csv
*.png

# System files
.DS_Store
Thumbs.db